.req {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.out-req-container {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.in-req-container {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.single-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    background-color: #38345f;
    width: auto;
    max-width: 410px;
    min-height: 163px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 8px;
    border-bottom: solid white 0.7px;
    cursor: default;
}

#pending {
    color: #cc7c80;
}

#resolved {
    color: green;
}

.req-header {
    width: 200px;
}

.req-header button {
    margin-top: 30px;
    width: 100%;
    background-color: #38345f;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.req-time-status {
    display: flex;
    justify-content: space-between;
}


.text-area {
    height: 100px;
    width: 93%;
    border-radius: 4px;
    resize: none;
}


.req2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2px 5px;
    gap: 8px;
}

.reqFunc {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.req2 div {
    cursor: pointer;
}

#delete-req:hover {
    color: #cc7c80;
}

#edit-req:hover {
    color: green;
}


.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 30px;
    color: white;
}

.confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #38345f;
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
}

.bold {
    font-size: 25px;
}


.message-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2px 5px;
    gap: 8px;
}

.message-box label {
    text-decoration: underline;
}

.message-box span {
    font-size: 20px;
}


.hovertext {
    position: relative;
    cursor: pointer;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 380px;
    word-wrap: break-word;
    background-color: #9c96ca;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}
