.req {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.out-req-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.in-req-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.single-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    background-color: #38345f;
    width: auto;
    min-height: 100px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 8px;
    border-bottom: solid white 0.7px;
    cursor: default;
}

#pending {
    color: #cc7c80;
}

#resolved {
    color: green;
}

.req-header {
    width: 200px;
}

.req-header button {
    margin-top: 30px;
    width: 100%;
    background-color: #38345f;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.req-time-status {
    display: flex;
    justify-content: space-between;
}


.text-area{
    height: 100px;
    width: 93%;
    border-radius: 4px;
    resize: none;
}
