.info-col {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inner-box{
    display: flex;
    gap: 30px;
    padding: 60px 0px;
}

.user-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 300px;
    height: 100px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;
}

.user-name div{
    width: 100%;
    border-bottom: solid white 0.7px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 300px;
    height: 150px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;
}


.user-info div {
    border-bottom: solid white 0.7px;
}


.funds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 300px;
    height: 100px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;
}

.underline {
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 0.7px;
    width: 100%;
}

.no-pending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 320px;
    height: 100px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;
}

.no-pending div{
    width: 100%;
    border-bottom: solid white 0.7px;
}


.incoming-trans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 320px;
    min-height: 100px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;
}


