.info-col {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.inner-box {
    display: flex;
    gap: 30px;
    padding: 60px 0px;
    overflow-y: scroll;
}

.inner-box::-webkit-scrollbar {
    display: none;
}

.user-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 300px;
    height: 100px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;
}

.user-name div {
    width: 100%;
    border-bottom: solid white 0.7px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 300px;
    height: 150px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;
}


.user-info div {
    border-bottom: solid white 0.7px;
}


.funds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 300px;
    height: 100px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;
}

.underline {
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 0.7px;
    width: 100%;
}

.no-pending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 320px;
    height: 100px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;
}

.no-pending div {
    width: 100%;
    border-bottom: solid white 0.7px;
}

.pending-trans {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.incoming-trans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    background-color: #38345f;
    width: 320px;
    min-height: 100px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    font-size: 25px;
    gap: 7px;
    border-bottom: solid white 0.7px;

}

.accept {
    display: flex;
    justify-content: space-between;

    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2px 5px;
}

.check:hover {
    color: #63bf7d;
    cursor: pointer;
}

.outgoing {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
