.page {
    height: 100vh;
    object-fit: fill;
    background-image: url('../../Images/pexels-dana-tentis-370799.jpg');
}

.logo-div{
    height: 70px;
    object-fit: contain;
}
.logo-div img{
    height: 70px;
    border-radius: 10px;
}

.landing-page {
    height: 80vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        rgba(159, 159, 160, 0.4),
        rgba(160,159,159,0.2)
    );
    backdrop-filter: blur(10px);
}

.content-box {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;
}

.photo img {
    border-radius: 10px;
    height: 240px;
    width: 280px;
    object-fit: cover;

}


.picture-box {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.links-box {
    /* border: solid white 1px; */
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: .3px solid white;
    height: 70px;
    padding: 15px 100px;
}

.nav-bar > div{
    color: white;
}

.title {
    font-size: 80px;
    color: white;
    height: 200px;
}

.title-2 {
    font-size: 30px;
    color: white;
    padding-left: 13px;
}

.tag{
    color: white;
    padding-left: 13px;
}

.icon {
    font-size: 50px;
}


.photo{
    border-radius: 8px;
    padding-bottom: 10px;
}


.contact-button{
color: white;
}

.user-login{
    /* color: white; */
    height: 30px;
    width: 50px;
    border-radius: 15px;
}
